*{
    background-color:lightgray;
}
h1 {
    box-decoration-break: clone;-webkit-box-decoration-break: clone;box-shadow: 8px 8px 10px 0 #42c063, -5px -5px 5px 0 rgb(84, 178, 209), 5px 5px 15px 0 ;
    text-shadow: red 1px 0 10px;
}
p {
    text-shadow:aquamarine 0px 0 10px;
    
}
h2 {
    text-shadow: aqua 1px 0 10px;
}
